.basicVideo {
  width: 100%;
  max-width: 576px;
}
#nav-side li a{
    padding: 1px;
}
#nav-top {
}

#nav-top-last {
  float: right;
}
body {
  padding-top: 55px;
}

@media (min-width: 768px){
  #leftCol {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    overflow-y: scroll;
  }
  #centerCol {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      overflow-y: scroll;
  }
  #rightCol {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }
}
