
{% extends "base_sidebars.html" %}

{% block main %}
  <h4>
    Adding users
  </h4>
  <p>
    This website was created by Tristan Kreindler as a sort of hobby project to learn how to use multiple things he was at the time unfamiliar with, in particular the web framework Django and Bootstrap css.
    This project is entirely open source and is available <a href="https://github.com/Tman1677/marentette" target="_blank"> on GitHub</a>.
    I made it so adding new videos and packets to the website is quite easy so that pretty much anyone can do it, but getting beyond that this framework gets pretty complicated and it's gonna be pretty hard to change.
    So I'm gonna break this tutorial into two parts, the first part will be adding videos and packets and it's pretty easy, the second part, well get ready to learn some web frameworks.
  </p>
  <h4>
    Adding videos or packets
  </h4>
  <p>
    This is hopefully the only maintenance work that will need to be done, essentially if there's a packet with videos that isn't on here go wading through her website to find the appropriate videos.
    After you find it hopefully you want to be a nice person and keep someone else from going back to that site so you can follow this guide to add that video to this website.
  </p>

{% endblock %}
