
{% extends "base_sidebars.html" %}

{% block main %}
  <h4>
    Adding users
  </h4>
  <p>
    To add a user you're going to need to go to <a href="{% url 'admin:index' %}">the admin page</a> and login with the SeaholmPhysicsStudent account I gave Mr. Stukey.
    That account is a super user and can do anything to the database storing the video links.
    Although you can create another super user account I wouldn't get in the habit of it or give super user accounts out willy nilly to students.
    Because of that this guide assumes you're going to make a student account that can only add videos, not sabotage other work.
  </p>
  <p>
    On the admin page click plus next to users, give them a username and then let them type in a password.
    Click save to go to the next page. The next page looks really complicated but there's only two things we need to do.
    You need to check the box that says "Staff Status" and double click on the "General Student" group so it goes over to the chosen groups side.
    It should look like this:
    {% load static %}
    <img src="{% static 'images/userStep1.png' %}" alt="" class="img-fluid">
  </p>
  <h4>
    Make sure you save at the bottom of the page after!
  </h4>

{% endblock %}
