{% extends "base_generic.html" %}

{% block body %}
<div class="row d-flex">
  <div class="col-12 col-md-3 col-xl-2 py-md-2 sidebar collapse show bg-light">
    {% block sidebarL %}
    <nav class="navbar navbar-light" id="nav-side">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <h6>
            Packets
          </h6>
        </li>
        {% if chapter_list %}
        {% for chapter in chapter_list %}
        <li class="nav-item">
          <a class="nav-link {% if chapter.number == current_packet.number %} active {% endif %}" href="{% url 'chapter-view' chapter.number %}">{{ chapter.name }}</a>
        </li>
        {% endfor %}
        {% endif %}
        {% if other_list %}
        {% for other in other_list %}
        <li class="nav-item">
          <a class="nav-link {% if other.name == current_packet.name %} active {% endif %}" href="{% url 'other-view' other.id %}">{{ other.name }}</a>
        </li>
        {% endfor %}
        {% endif %}

      </ul>

    </nav>
    {% endblock %}
  </div>
  <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 border-left border-right">
    {% block main %}

    {% endblock %}
  </div>
  <div class="d-xl-block d-none col-xl-2 py-md-3">
    {% block sidebarR %}
    This is a small sidebar that hides itself when the screen can't support it
    {% endblock %}
  </div>
</div>
{% endblock %}
