<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Personal CSS, after Bootstrap to override if necessary -->

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- load the icon (stolen from marentette's old site) -->
    <link rel="shortcut icon" href="http://www.wikis.birmingham.k12.mi.us/_/55v9k02z/i/logo-16.png">
    {% block title %}<title>Physics C Videos</title>{% endblock %}
  </head>
  <body>
    <header>
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-secondary border-bottom" id="nav-top">
        <a class="navbar-brand" href="{% url 'index' %}">Physics C Video Hub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if home %}active{% endif %}">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if packet %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Packets
              </a>
              <div class="scrollable-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                {% if chapter_list %}
                {% for chapter in chapter_list %}
                  <a class="dropdown-item {% if chapter.number == current_packet.number %} active {% endif %}" href="{% url 'chapter-view' chapter.number %}">{{ chapter.name }}</a>
                {% endfor %}
                {% endif %}
                {% if other_list %}
                {% for other in other_list %}
                  <a class="dropdown-item {% if other.name == current_packet.name %} active {% endif %}" href="{% url 'other-view' other.id %}">{{ other.name }}</a>
                {% endfor %}
                {% endif %}
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if add_video %}active{% endif %}{% if add_users %}active{% endif %}{% if advanced %}active{% endif %}" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dev Notes
              </a>
              <div class="scrollable-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item {% if add_video %}active{% endif %}" href="{% url 'add-video-view' %}">Add Video</a>
                  <a class="dropdown-item {% if add_users %}active{% endif %}" href="{% url 'add-user-view' %}">Add Users</a>
                  <a class="dropdown-item {% if advanced %}active{% endif %}" href="{% url 'advanced-view' %}">Advanced Editing</a>
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="http://marentette11.wikis.birmingham.k12.mi.us/" target="_blank">Old Website</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      {% block body %}
      This is the default body text
      {% endblock %}
    </div>
    <!-- SemiOptional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
