{% extends "base_sidebars.html" %}

{% block main %}
  {% if current_packet %}
  <h4>{{ current_packet.name }} Packet</h4>
  {% if video_list %}

  {% for video in video_list %}
    <p>
      {{video.name}}
      <br>
      <video class="basicVideo border" controls controlsList="nodownload">
        <source src="{{ video.url }}" type="video/mp4">
        Please stop using a potato for a web browser
      </video>
    </p>
  {% endfor %}

  {% else %}
    <p>There are no videos for this packet.</p>
  {% endif %}
  {% else %}
  <h5>There is no chapter {{ attempted_num }}</h5>
  {% endif %}

{% endblock %}
