{% extends "base_sidebars.html" %}

{% block main %}
<p>
  Welcome to the unofficial new site for Mrs. Marentette's videos.
  For the uninitiated Mrs. Marentette created a ton of videos that cover essentially every problem assigned in this class, but her old website, linked in the top right hand corner, is a tad bit hard to navigate.
</p>
<p>
  Maybe a little more than a tad bit.
</p>
<p>
  Anyway this site reaorganizes those videos into a more easy to navigate, modern website.
  Use either the sidebar or the navigation bar above to navigate to the videos by which packet they belong to.
</p>
{% endblock %}
