{% extends "base_generic.html" %}

{% block body %}
<div class="row d-flex">
  <div class="col-12 col-md-3 col-xl-2 py-md-2 sidebar collapse show bg-light">
    <nav class="navbar navbar-light" id="nav-side">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <h6>
            Chapter Packets
          </h6>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 4</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 5</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 6</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 7</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 8</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 9</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 10</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 11</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 12</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 13</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 14</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 15</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 16</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 17</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 18</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 19</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 20</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 21</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 22</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 23</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 24</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 25</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 26</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Chapter 27</a>
        </li>
      </ul>

    </nav>
  </div>
  <div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 border-left border-right">
    <p>
      This is the main section to hold all of the content
    </p>
    <video class="basicVideo border" controls controlsList="nodownload">
      <source src="https://showme0-9071.kxcdn.com/files/42137/video/1623182/1408911180.mp4" type="video/mp4">
      Please stop using a potato for a web browser
    </video>
    <p>
      This is the main section to hold all of the content
    </p>
    <video class="basicVideo border" controls controlsList="nodownload">
      <source src="https://showme0-9071.kxcdn.com/files/42137/video/1623182/1408911180.mp4" type="video/mp4">
      Please stop using a potato for a web browser
    </video>
    <p>
      This is the main section to hold all of the content
    </p>
    <video class="basicVideo border" controls controlsList="nodownload">
      <source src="https://showme0-9071.kxcdn.com/files/42137/video/1623182/1408911180.mp4" type="video/mp4">
      Please stop using a potato for a web browser
    </video>
  </div>
  <div class="d-xl-block d-none col-xl-2 py-md-3">
    This is a small sidebar that hides itself when the screen can't support it
  </div>
</div>
{% endblock %}
