//Custom css to be compiled into style.css in the static directory

$navbarHeight: 55px; //to be used by later definitions

.scrollable-dropdown {
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.basicVideo {
  width: 100%;
  max-width: 576px;
}
#nav-side li a{
    padding: 1px;
}
#nav-top-last {
  float: right;
}
body {
  padding-top: $navbarHeight;
}


@media (min-width: 768px){
  .main, .sidebar-r, .sidebar-l {
    top: 0;
    height: calc(100vh - #{$navbarHeight});
    overflow-y: scroll;
  }
}
