.basicVideo {
  width: 100%;
  max-width: 576px;
}
#nav-side li a{
    padding: 1px;
}
#nav-top {
}

#nav-top-last {
  float: right;
}

$navbarHeight: 55px; //to be used by later definitions

@media (min-width: 768px){

  body {
    overflow: hidden;
  }
  .sidebar-l {
    // position: absolute;
    top: $navbarHeight;
    height: 100vh;
    overflow-y: scroll;
  }
  .main {
    // position: absolute;
    top: $navbarHeight;
    height: 100vh;
    overflow-y: scroll;
  }
  .sidebar-r {
    // position: absolute;
    top: $navbarHeight;
    height: 100vh;
    overflow-y: scroll;
  }
}
